* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.head {
    background-image: linear-gradient(rgb(89, 89, 230), rgb(2, 2, 44));
}

ul li {
    list-style: none;
}

.logo {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.bg {
    background-image: url(images/Space-Needle.jpg);
    min-height: 750px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bodysent {
    font-size: 80px;
    background-color: transparent;
}

.btnhover:hover {
    background-color: greenyellow !important;
}